
@{
    ViewData["Title"] = "Verify Email";
}



<br />
<div class="container mt-5">
    <div class="row">
        <form asp-action="Login" asp-controller="Account" asp-area="" method="post" asp-antiforgery="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="215" height="215" fill="currentColor" class="offset-md-5 offset-sm-1 bi bi-person-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <h1 class="mb-3 h3 text-center">Enter Verify Code</h1>
            <p class="mb-3 text-center">we send a code to your email address please enter code</p>

            <div class="form-floating offset-md-4 col-md-4 mb-2">
                <input class="form-control" placeholder="Verify Code">
                <label for="floatingInput">Verify Code</label>
            </div>

        </form>
    </div>
</div>
<br /><br /><br /><br />