
@{
    ViewData["Title"] = "About";
}




<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <p class="d-flex align-items-center text-dark text-decoration-none">
            <h1 class="fs-4">About us</h1>
        </p>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">About Game Store</h1>
            <p class="col-md-8 fs-4">Game Store is one of the biggest platform for downloading ,playing and sharing games between Gamers around the world</p>

        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Game Store pass</h2>
                <p>You can access +100 games in Store for only 5$ per month <br />Join us now</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-warning border rounded-3">
                <h2 class="fw-bold">What is our mission?</h2>
                <p>Use technology to create a pleasant Playing experience for gamers <br />And we are going to be the best store of games</p>

            </div>
        </div>
    </div>
</div>
