
@{
    ViewData["Title"] = "Game Store";
}
<!-- Slider start -->
<div id="carouselExampleCaptions" class="carousel slide mb-70" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/Other/circle.jpg" class="d-block w-100" alt="..." width="1000" height="600">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/Other/glory.jpg" class="d-block w-100" alt="..." width="1000" height="600">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/Other/Gamer.jpg" class="d-block w-100" alt="..." width="1000" height="600">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Slider end -->
<!-- three marketing text start -->
<div class="container marketing mt-5">


    <div class="row">
        <div class="col-lg-4">
            <img class="" width="140" height="140" src="~/img/Other/shield.png" />
            <h2>Secure Connection</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalSecureConnection" href="#">View details &raquo;</a></p>
            <div class="modal fade" id="ModalSecureConnection">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="text-primary">Secure Connection</h5>
                            <button class="btn btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea optio ducimus expedita suscipit?
                            Sit, facilis. Voluptas molestiae vitae sit placeat reprehenderit sequi! Eius animi cumque dicta molestiae odit aliquid eos.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="" width="140" height="140" src="~/img/Other/share.png" />
            <h2>EZ Sharing</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalEZSharing" href="#">View details &raquo;</a></p>
            <div class="modal fade" id="ModalEZSharing">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="text-primary">EZ Sharing</h5>
                            <button class="btn btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea optio ducimus expedita suscipit?
                            Sit, facilis. Voluptas molestiae vitae sit placeat reprehenderit sequi! Eius animi cumque dicta molestiae odit aliquid eos.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 mb-5">
            <img class="" width="140" height="140" src="~/img/Other/rocket.png" />
            <h2>Fast Download</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalFastDownload" href="#">View details &raquo;</a></p>
            <div class="modal fade" id="ModalFastDownload">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="text-primary">Fast Download</h5>
                            <button class="btn btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea optio ducimus expedita suscipit?
                            Sit, facilis. Voluptas molestiae vitae sit placeat reprehenderit sequi! Eius animi cumque dicta molestiae odit aliquid eos.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
    </div><!---->
</div>
<!-- three marketing text end -->


<!-- interview start-->
@*<div class="container mb-5">
        <div class="row mt-5">
            <div class="col-xxl-3 col-md-12">
                <img src="~/icons/cloud-check.svg" alt="Alternate Text" width="400" height="400" class="" />
            </div>
            <div class="offset-1 col-xxl-8 col-md-12 mt-5">
                <h1 class="h1 fw-bold mt-5">Cloud Gaming</h1>
                <h1 class="mt-1 h2">You can play all games in Game Store without downloading</h1>
            </div>
        </div>

        <div class="row mt-5 col-md-12">
            <div class="offset-1 col-xxl-7 mt-5">
                <h1 class="h1 fw-bold mt-5">Game Store Pass</h1>
                <h1 class="mt-1 h2">You can access +100 games for only 5$ per month</h1>
                <h1 class="h2 mt-1">Join us now</h1>
            </div>
            <div class="col-xxl-3 col-md-12">
                <img src="~/img/Other/TicketPass.png" alt="Alternate Text" width="400" height="400" class="rounded-circle" />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-xxl-3 col-md-12">
                <img src="~/icons/yin-yang.svg" alt="Alternate Text" width="400" height="400" class="rounded-circle" />
            </div>
            <div class="offset-1 col-xxl-8 col-md-12 mt-5">
                <h1 class="h1 fw-bold mt-5">Escape from reality</h1>
                <h1 class="mt-1 h2">Life is just a hallucination caused by breathing oxygen once you stop breathing it all goes away</h1>
            </div>
        </div>
    </div>*@
<!--interview end-->



<!-- Top Games start -->
<div class="container mt-5">
    <hr />
    <h1 class="mt-5">Top Games</h1>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow mb-3">
                <a asp-area="" asp-controller="Home" asp-action="GameDetails">
                    <img class="card-img-top" src="~/img/Games/Minecraft.jpg" alt="" />
                </a>
                <h1 class="card-header text-center">Minecraft</h1>
                <div class="p-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus animi est
                        nostrum accusamus ad fugiat ex,
                    </p>
                    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="GameDetails">Details</a>
                    <a class="btn btn-outline-success" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow mb-3">
                <a asp-area="" asp-controller="Home" asp-action="GameDetails">
                    <img class="card-img-top" src="~/img/Games/Forza.Horizon.jpg" alt="" />
                </a>
                <h1 class="card-header text-center">Forza</h1>
                <div class="p-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus animi est
                        nostrum accusamus ad fugiat ex,
                    </p>
                    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="GameDetails">Details</a>
                    <a class="btn btn-outline-success" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow mb-3">
                <a asp-area="" asp-controller="Home" asp-action="GameDetails">
                    <img class="card-img-top" src="~/img/Games/Red.Dead.jpg" alt="" />
                </a>
                <h1 class="card-header text-center">Read Dead II</h1>
                <div class="p-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus animi est
                        nostrum accusamus ad fugiat ex,
                    </p>
                    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="GameDetails">Details</a>
                    <a class="btn btn-outline-success" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="offset-md-4 col-md-4 text-center mt-5">
            <a class="text-decoration-none text-primary" asp-area="" asp-controller="Home" asp-action="Product">View more</a>
        </div>
    </div>
</div>
<!-- Top Games end -->
<!-- most downloaded start -->
<div class="container mt-5">
    <hr />
    <h1 class="mb-5">Most Downloaded</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow mb-3">
                <a asp-area="" asp-controller="Home" asp-action="GameDetails">
                    <img class="card-img-top" src="~/img/Games/God.Of.War.jpg" alt="" />
                </a>
                <h1 class="card-header text-center">God Of War 4</h1>
                <div class="p-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus animi est
                        nostrum accusamus ad fugiat ex,
                    </p>
                    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="GameDetails">Details</a>
                    <a class="btn btn-outline-success" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow mb-3">
                <a asp-area="" asp-controller="Home" asp-action="GameDetails">
                    <img class="card-img-top" src="~/img/Games/GTA.jpg" alt="" />
                </a>
                <h1 class="card-header text-center">GTA V</h1>
                <div class="p-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus animi est
                        nostrum accusamus ad fugiat ex,
                    </p>
                    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="GameDetails">Details</a>
                    <a class="btn btn-outline-success" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow mb-3">
                <a asp-area="" asp-controller="Home" asp-action="GameDetails">
                    <img class="card-img-top" src="~/img/Games/Minecraft.jpg" alt="" />
                </a>
                <h1 class="card-header text-center">Minecraft</h1>
                <div class="p-2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus animi est
                        nostrum accusamus ad fugiat ex,
                    </p>
                    <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="GameDetails">Details</a>
                    <a class="btn btn-outline-success" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="offset-md-4 col-md-4 text-center mt-5">
            <a class="text-decoration-none text-primary" asp-area="" asp-controller="Home" asp-action="Product">View more</a>
        </div>
    </div>
</div>
<!-- most downloaded start -->
