
@{
    ViewData["Title"] = "Index";
}




<div class="container-fluid">
    <div class="row">
        <a asp-area="Admin" asp-controller="Game" asp-action="Index" class="text-decoration-none col-lg-4 col-sm-12 mb-4">
            <div class="">
                <div class="bg-warning text-black display-5 text-center py-5 fw-bold">
                    Games
                </div>
            </div>
        </a>

        <a asp-area="Admin" asp-controller="GameGroups" asp-action="Index" class="text-decoration-none col-lg-4 col-sm-12 mb-4">
            <div class="">
                <div class="bg-primary text-white display-5 text-center py-5 fw-bold">
                    Categories
                </div>
            </div>
        </a>

        <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="text-decoration-none col-lg-4 col-sm-12 mb-4">
            <div class="">
                <div class="bg-info text-white display-5 text-center py-5 fw-bold">
                    Customers
                </div>
            </div>
        </a>

        <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="text-decoration-none col-lg-4 col-sm-12 mb-4">
            <div class="">
                <div class="bg-danger text-white display-5 text-center py-5 fw-bold">
                    Orders
                </div>
            </div>
        </a>
    </div>
    

</div>
