@model IEnumerable<GameStore.Core.ViewModels.Notes.NoteIndexVm>
@{
    ViewData["Title"] = "Index";
}





@foreach (var item in Model)
{
    <div class="mb-5">
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Back to Dasdboard</a> |
        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
    </div>


    <div>
        <div class="container-fluid card shadow p-4">
            <div>
                <h1 class="h1 text-center">@item.Name</h1>
            </div>
            <div>
                @Html.Raw(item.Text)
            </div>
        </div>
    </div>


}


