hover-red:hover{
    background-color: red;
}
hover-blue:hover{
    background-color: blue;
}
hover-green:hover{
    background-color: green;
}
hover-yellow:hover{
    background-color: yellow;
}
hover-gray{
    background-color: gray;
}
hover-info{
    background-color: aqua;
}
hover-light-green{
    background-color: lightgreen;
}