
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <style>
        .hover:hover {
            background-color: lightblue;
            color: black;
        }
    </style>
</head>

<body>
    <!-- Navbar start -->
    <header class="p-3 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    Game Store
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link px-2 text-white hover">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Product" class="nav-link px-2 text-white hover">Games</a></li>
                    <li><a asp-area="" asp-controller="Cart" asp-action="Cart" class="nav-link px-2 text-white hover">Cart</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link px-2 text-white hover">Contact us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link px-2 text-white hover">About</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link px-2 text-primary">Dashboard</a></li>
                    }

                </ul>

                @*<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>*@

                <div class="text-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<partial name="_AccountDetail" />*@
                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-outline-danger">Logout</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-light me-2">Login</a>
                        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-warning">Sign-in</a>
                    }
                </div>
            </div>
        </div>
    </header>
    <!-- Navbar end -->
    @RenderBody()
    <!-- Footer start -->
    <footer class="py-3 my-4 bg-light">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link px-2 text-muted hover">Home</a></li>
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Product" class="nav-link px-2 text-muted hover">Products</a></li>
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Cart" class="nav-link px-2 text-muted hover">Cart</a></li>
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link px-2 text-muted hover">Contact us</a></li>
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link px-2 text-muted hover">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2021 Game Store, Inc</p>
    </footer>
    <!-- Footer end -->

    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
