
@{
    ViewData["Title"] = "Index";
}

<h1>BackFormBank</h1>

<br />
<div class="container-fluid mt-5 alert-success">
    <h1 class="h1 text-center">
        Order Result
    </h1>
    <h2 class="h2 text-center mt-3">
        Thanks for choosing us
    </h2>
    <h4 class="h4 text-center mt-2">
        Tracking Code : @ViewBag.Code
    </h4>
</div>

