
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container mt-5 alert-success shadow">
    <h1 class="h1 text-center">
        Order Result
    </h1>
    <hr />
    <h2 class="h2 text-center mt-3">
        Thanks for choosing us
    </h2>
    <h4 class="h4 text-center mt-2 mb-5">
        Tracking Code : 98465
    </h4>
    <a href="/" class="btn btn-primary btn-sm col-12">Back to home</a>
</div>

